build/
dist/
android_packaging/build/
android_packaging/apk_assets/
android_packaging/*.keystore
android_packaging/*.apk
android_packaging/*.idsig
.cache/
.vscode/
.vs/
compile_commands.json

*.exe
*.bin
*.html
*.js
*.wasm
*.pdb
*.so.*
*.so
*.dll
.clangd
.env
*.log
*.ilk